.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}
.vertical-center .container-fluid {
  flex-grow:1
}
h1 {
  margin: 24px 0;
}
.messages p {
  margin: 6px 0;
  color: blue;
    color: #000;
  clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 2px;
    position: relative;
    margin: 8px 0;
    max-width: 80%;
    word-wrap: break-word;

    background-color:  #31BE6D;
    border-radius: 0px 5px 5px 5px;
}
.mymessages {
  text-align: right;
  color: #2E6D88;
  font-style: italic;
}
ul.messages.list-group {
  max-height: 50vh;
  overflow-y: scroll;
}
.typing {
  font-style: italic;
}
.msg-delieverd {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2F99F5;
}
.msg-read {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  color: #2AC151;
}

.time_right{
  color: #000;
clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 80%;
  word-wrap: break-word;
  border-radius: 0px 5px 5px 5px;
  float: right;

}
.time_left{
  color: #000;
clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 80%;
  word-wrap: break-word;

  background: #e1ffc7;
  border-radius: 0px 5px 5px 5px;
  float: left;

}